<div class="row">
	<div class="col-md-12">
		<!-- header contents -->
	</div>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-8" >
					<img src="images/guy-5.jpg" class="col-md-offset-3" style="border-radius:25px"/>
				</div>
				<div class="col-md-8 col-md-offset-3" ng-bind="user.name"></div>
				<div class="col-md-8">
					<button class="btn btn-success col-md-offset-3" > Following </button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			sdklas
		</div>
	</div>
</div>